@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
}

/* @layer components {
  
} */

.btn-primary {
    @apply bg-[#FF6B35] hover:bg-[#e85a28]
    text-white px-6 py-3 rounded-lg
    font-semibold transition
    flex items-center gap-2 border-none;
  }

body {
  font-family: "Urbanist", sans-serif;
}
